<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<div class="usp_logo">
<div>
  <p style="color:#C17A56;">
    <i class="fa-solid fa-truck-fast"></i>  
  </p>
</div>

<div>
    <p class="usp_head">Free Delivery</p>
    <p class="usp_data">On orders over ₹15,000</p>
</div>

</div>

<style>
    .usp_logo{
      display: flex;
      gap:10px;
    }
    .usp_head{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: capitalize;
    color:#3F2E24;
}
   .usp_data{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: capitalize;
    color:#7E6751;
}
</style>